* {
    all: unset;
}

.bar {
    background-color: #192431;
    padding-bottom: 3px;
}

.time {
    color: #4acfff;
    padding-top: 3px;
}

.date {
    color: #4acfff;
    padding-top: 3px;
}

.archlogo {
    color: #4acfff;
    padding-top: 3px;
    font-size: 20;
    border-bottom-right-radius: 20px;
}

.workspaceInactive {
    // color: #e43f5a;
    color: #4acfff;
    padding-top: 3px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20;
    &:hover {
      color: #e43f5a;
    }
}

.workspaceActive {
    // color: #e43f5a;
    color: #e43f5a;
    padding-top: 3px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20;
}
