* {
    all: unset;
}

.bar {
    background-color: #192431;
    padding-bottom: 3px;
}

.time {
    color: rgb(115, 155, 255);
    padding-top: 3px;
}

.date {
    color: rgb(115, 155, 255);
    padding-top: 3px;
}

.archlogo {
    color: rgb(115, 155, 255);
    padding-top: 3px;
    font-size: 20;
    border-bottom-right-radius: 20px;
}

.workspaceInactive {
    // color: #e43f5a;
    color: rgb(115, 155, 255);
    padding-top: 3px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20;
    &:hover {
      color: #e43f5a;
    }
}

.workspaceActive {
    // color: #e43f5a;
    color: #e43f5a;
    padding-top: 3px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20;
}

.previousWorkspace {
  color: rgba(115, 155, 255, 0);
  padding-top: 3px;
}

.powerButton {
  color: rgb(115, 155, 255);
  font-size: 15px;
  padding-left: 100px;
  &:hover {
    color: #e43f5a;
  }
}

.mainPower {
  padding-top: 460px;
  padding-bottom: 460px;
  background-color: rgb(115, 155, 255, 0.10);
}

.shutoffBox, .rebootBox, .closeBox {
  font-size: 100px;
  background-color: #192431;
  border: 2px solid rgb(115, 155, 255);
  border-radius: 20px;
}

.closeBox {
  font-size: 90px;
}

.shutoffButton, .rebootButton, .closeButton {
  color: rgb(115, 155, 255);
  &:hover {
    color: #e43f5a;
  }
  padding-bottom: 30px;
  padding-top: 35px;
  padding-left: 40px;
  padding-right: 40px;
}

.shutoffBox {
  margin-left: 650px;
}

.closeBox {
  margin-right: 650px;
}

.rebootBox {
  margin-right: 50px;
  margin-left: 50px;
}

